@font-face {
    font-family: basisGrotesque;
    src: url(../fonts/basisgrotesquepro-regular-webfont.woff2);
}
@font-face {
    font-family: basisGrotesqueBold;
    src: url(../fonts/basisgrotesquepro-bold-webfont.woff2);
}
@font-face {
    font-family: basisGrotesqueLight;
    src: url(../fonts/basisgrotesquepro-light-webfont.woff2);
}
html{
    font-family: basisGrotesque;
    width: 100%;
}

header div{
    color: white;
}

h1{
    font-size: 50px;
    margin-left: 272px;
    padding-top: 20px;
}

.calculadora{
    font-size: 16px;
    color: rgb(219, 219, 219);
    max-width: 70%;
    padding: 20px 10px;
    margin: auto;
    background-color: #181818;
    border-radius: 15px;
    overflow: auto;
    height: 1%;
}

.calculadora p{
    text-align: left;
    margin-top: 0;
    margin-left: 1%;
}

.calculadora label{
    
    text-align: left;
    display: block;
    margin-left: 1%;
}

.calculadora input{
    display: block;
    width: 94%;
    padding: 12px 2%;
    margin: 8px auto;
    border: 0px solid rgb(194, 194, 194);
    border-radius: 25px;
    outline: none;

}

.calculadora button{
    background-color: #ffed00;
    width: 98%;
    margin-left: 1%;
    height: 45px;
    font-size: 18px;
    color: #000000;
    border: 0px;
    border-radius: 25px;
}

.calculadora button:hover{
    background-color: #004594;
    width: 98%;
    height: 45px;
    font-size: 18px;
    color: #ffffff;
    border: 0px;
    border-radius: 25px;
    cursor: pointer;
}


#derechos{
    color: #535353;
    margin: 30px 50px;
    float: left;
}

#contacto{
    color: #535353;
    margin: 30px 150px;
    font-size: 12px;
    float: right;
    line-height: 26px;
}
